.about {
    background-color: #D9D9D9;
    &__wrapper {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 150px;
        padding-bottom: 222px;
    }
    &__first {
        display: flex;
        gap: 35px;
        margin-bottom: 150px;
        &--text {
            background-color: #17161C;
            display: flex;
            flex-direction: column;
            padding: 60px 36px;
            border-radius: 50px;
            max-width: 811px;
            width: 100%;
            height: 556px;
            align-items: flex-start;
        }
        &--title {
            color: #5CE1E6;
            font-size: 64px;
            font-family: 'Kharkiv-Tone', sans-serif;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 144px;
            text-transform: uppercase;
        }
        &--subtitle {
            font-family: 'Inter-Regular', sans-serif;
            color: #D9D9D9;
            font-size: 18px;
            padding-bottom: 40px;
            border-bottom: 2px solid #D9D9D9;
            line-height: 130%;
            margin-bottom: 32px;   
        }
        &--buttontext {
            color: #5CE1E6;
            font-size: 16px;
            font-family: 'Inter-Semibold', sans-serif;
            font-weight: 600;
            line-height: normal;
        }
        &--button {
            display: flex;
            align-self: flex-end;
            align-items: center;
            gap: 48px;
            padding: 12px 24px;
            border: 2px solid #5CE1E6;
            border-radius: 100px;
            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: #5CE1E6;
                .about__first--buttontext {
                    color: #17161C;
                }
                .about__first--arrow {
                    background-image: url(../img/button__arrow--darkblueborder.svg);
                }
            }
            &:focus {
                background: #00C5CC;
                box-shadow: 0px 0px 20px 0px rgba(92, 225, 230, 0.30);
                border-color: #00C5CC;
                .about__first--arrow {
                    background-image: url(../img/button__arrow--empty.svg);
                }
            }
        }
        &--img {
            width: 435px;
            height: 556px;
            padding: 24px;
            border: 3px solid #17161C;
            border-radius: 65px;
            position: relative;
            flex-shrink: 0;
            &::after {
                content: '';
                width: 50px;
                height: 50px;
                position: absolute;
                background-image: url(../img/about__icon1.svg);
                right: -15px;
                top: -5px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &--arrow {
            width: 36px;
            height: 36px;
            background-image: url(../img/button__arrow--light.svg);
        }
    }
    &__second {
        display: flex;
        gap: 32px;

        &--text {
            background-color: #C5D86D;
            display: flex;
            flex-direction: column;
            padding: 60px 36px;
            border-radius: 50px;
            max-width: 811px;
            width: 100%;
            align-items: flex-start;
            height: 556px;
        }
        &--title {
            font-family: 'Kharkiv-Tone', sans-serif;
            font-size: 64px;    
            line-height: normal;
            text-transform: uppercase;
            color: #F05D23;
            padding-bottom: 102px;

        }
        &--subtitle {
            padding-bottom: 40px;
            border-bottom: 2px solid #17161C;
            font-family: 'Inter-Regular', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 33px;
        }
        &--button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 48px;
            padding: 12px 24px;
            border: 2px solid #17161C;
            border-radius: 100px;
            align-self: flex-end;
            &:hover {
                transition: all 0.3s ease-in-out;
                background-color: #17161C;
                .about__second--buttontext {
                    color: #D9D9D9;
                }
                .about__second--arrow {
                    background-image: url(../img/button__arrow--greydarkborder.svg);
                }
            }
            &:focus {
                background: #404040;
                border-color: #404040;
                .about__second--arrow {
                    background-image: url(../img/button__arrow--darkwhitefocus.svg);
                }
            }
        }
        &--buttontext {
            text-transform: uppercase;
            font-family: 'Inter-Semibold', sans-serif;
            font-weight: 600;
            line-height: normal;
        }
        &--arrow {
            width: 36px;
            height: 36px;
            background-image: url(../img/button__arrow--darkwhite.svg);
        }
        &--img {
            display: flex;
            width: 435px;
            height: 556px;
            padding: 24px;
            border: 3px solid #F05D23;
            border-radius: 210px 210px 65px 65px;
            position: relative;
            &::after {
                content: '';
                width: 135px;
                height: 135px;
                position: absolute;
                background-image: url(../img/about__icon2.svg);
                left: -40px;
            }
        }
    }
    &__icon {
        width: 206px;
        height: 206px;
        position: absolute;
        bottom: -103px;
        z-index: 2;
        animation: rotate 10s linear infinite;
    }
}
@media screen and (max-width: 1400px) {
    .about {
        &__wrapper {
            width: 100%;
            padding-right: 32px;
            padding-left: 32px;
        }
        &__first {
            width: 100%;
            justify-content: space-between;
            gap: 15px;
            &--text {
                height: unset;
                padding: 48px 32px;
            }
            &--title {
                font-size: 48px;
                padding-bottom: 72px;
            }
            &--subtitle {
                font-size: 16px;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            &--img {
                width: 350px;
                height: auto;
            }
            &--button {
                margin-top: auto;
            }
        }
        &__second {
            width: 100%;
            justify-content: space-between;
            gap: 15px;
            &--text {
                height: unset;
                padding: 48px 32px;
            }
            &--title {
                font-size: 48px;
                padding-bottom: 72px;
            }
            &--subtitle {
                font-size: 16px;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            &--img {
                flex-shrink: 0;
                width: 350px;
                height: auto;
                &::after {
                    width: 100px;
                    height: 100px;
                    background-size: contain;
                    left: -20px;
                }
            }
            &--button {
                margin-top: auto;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .about {
        &__first {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            &--text {
                align-items: stretch;
                padding: 60px 24px;
                max-width: 440px;
            }   
            &--title {
                padding-bottom: 65px;
                font-size: 32px;
            }
            &--button {
                gap: unset;
                width: 100%;
                justify-content: space-between;

            }
            &--subtitle {
                padding-bottom: 48px;
                margin-bottom: 32px;
            }
            &--img {
                width: 440px;
            }
        }
        &__second {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &--text {
                align-items: stretch;
                padding: 60px 24px;
                max-width: 440px;
            }
            &--subtitle {
                padding-bottom: 48px;
                margin-bottom: 32px;
            }
            &--button {
                gap: unset;
                width: 100%;
                justify-content: space-between;
            }
            &--title {
                padding-bottom: 65px;
                font-size: 32px;
            }
            &--img {
                width: 440px;
                &::after {
                    width: 120px;
                    height: 120px;
                    left: -25px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .about {
        &__icon {
            width: 133px;
            height: 133px;
            bottom: -65px;
        }
    }
}
@media screen and (max-width: 500px) {
    .about {
        &__wrapper {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 106px;
            padding-top: 80px;
        }
        &__first {
            &--text {
                width: 100%;
            }
            &--img {
                width: 100%;
            }
        }
        &__second {
            &--text {
                width: 100%;
            }
            &--img {
                width: 100%;
                &::after {
                    width: 100px;
                    height: 100px;
                    left: -20px;
                }
            }

        }
    }
}